:root 
{
    --sample-bg-color: #FFEBD9;
    --title-color: #19403B;
    --text-color: rgb(35, 89, 82);
    --icon-color: #FFC8BD;
    --white-color: #FAFAFA;
    --black-color: #000000;
}



html, body
{
    max-width: 100vw;
    background-color: var(--sample-bg-color);
}

h1
{
    color: var(--title-color);
    font-family: 'Lora', serif;
}

h2
{
    color: var(--title-color);
    font-family: 'Lora', serif;
    padding: 0.5vw 0;
    text-transform: uppercase;
}

h3
{
    color: var(--icon-color);
    font-family: 'Lora', serif;
    padding: 0.2vw 0;
}

h4
{
    color: var(--icon-color);
    font-family: 'Lora', serif;
    padding: 0.5vw 0;
}

p
{
    color: var(--black-color);
    font-family: 'Source Sans Pro', sans-serif;
}

.container-fluid, .container, .row
{
    max-width: 100vw;
    padding: 0;
    margin: 0;
}

/* FOOTER */

footer {
  background: #000000;

}

footer p, i
{
  color: var(--white-color);
  font-size: 0.9vw;
  text-align: center;
}

footer h5
{
  margin: 5px 0;
  text-align: center;
  color : var(--icon-color);
}



.hasflash, .errormsg
{
  text-align: center; 
  margin: 20px 0px; 
  color: red ;
  font-size: 1vw;
}

.errormsg
{
  margin: 0px !important; 
}

/* Nav */
#navbar a 
{
    font-family: 'Source Sans Pro', sans-serif;
}

#navbar a:hover
{
    color: var(--icon-color);
}

/* Banner */

.banner
{
    padding: 0;
    max-width: 100vw;
}

.banner img 
{
    width: 25vw;
    height: 20vw;
}

.text-banner
{
    text-align: center;
}

.text-banner p
{
    margin-top: 2vw;
    color: var(--text-color);
}

/* Presentation et articles */

.presentation, .articles
{
    margin-top: 5vw;
    text-align: center;
    background-color:  rgba(35, 89, 82, 0.8);
    border-radius: 1vw;
    box-shadow: 12px 12px 2px 1px rgba(35, 89, 82, 0.2);
}

.presentation>p
{
    padding: 2vw 0;
}

.presentation>img
{
    max-width: 15vw;
    border-radius: 5vw;
}

.articles
{
    min-height: 50vw;
}


/* CARD */

.card 
{
  
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 2vw auto;
  border-radius: 5px;
}

.card:hover 
{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card .btn
{
  margin-bottom: 15px;
}

.card-body 
{
  padding: 2px 16px;
}


/* FORM */

/* BASIC */
  

  
  .wrapper a {
    color: #92badd;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
  }
  
   .wrapper h2 {
    text-align: center;
    font-size: 1.2vw;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 5px 10px 10px 10px; 
    color: var(--title-color);
  }
  
  
  
  /* STRUCTURE */
  
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 60px 20px;
  }
  
  .formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }
  
  
  
  
  /* TABS */

  .label
  {
    font-size: 1vw;
    color: var(--title-color);
    font-family: 'Lora', serif;
    width: 100%;
    display: inline-block;
  }
  
  .textarea
  {
    max-width: 80%;
  }
  
  /* FORM TYPOGRAPHY*/
  
  input[type=button], input[type=submit], input[type=reset], .btn  {
    background-color: var(--title-color);
    border: none;
    color: var(--icon-color);
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 15px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, .btn:hover  {
    background-color: var(--icon-color);
    color: var(--title-color) !important;
  }
  
  input[type=button]:active, input[type=submit]:active, input[type=reset]:active, .btn:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  input[type=text], input[type=password], .textarea {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 5px 20px 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #fff;
    border-bottom: 2px solid var(--icon-color);
  }
  
  input[type=text]:placeholder {
    color: #cccccc;
  }
  
  /* ANIMATIONS */
  
  /* Simple CSS3 Fade-in-down Animation */
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  .fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
  
  .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  
  .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  /* Simple CSS3 Fade-in Animation */
  .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
  }
  
  .underlineHover:hover {
    color: #0d0d0d;
  }
  
  .underlineHover:hover:after{
    width: 100%;
  }
  
  
  
  /* OTHERS */
  
  *:focus {
      outline: none;
  } 
  
  .icon {
    width: 15%;
    margin: -30px 0 15px 0;
    padding: 15px;
    border-radius: 30px;
    background-color: var(--title-color);
  }
  


  /* ADD NEWS */

  #container_news
  {
    margin-top: 40px;
  }

 .table_news 
 {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  }
  
  .table_news td,  .table_news th 
  {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table_news tr
  {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    
  }

  .table_news tr::before
  {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--icon-color);
    opacity: 0.4;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    
  }

  .table_news tr:hover, .table_news tr:focus, .table_news tr:active {
    color: var(--title-color);
  }

  .table_news tr:hover:before, .table_news tr:focus:before, .table_news tr:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  }


  .table_news th 
  {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--title-color);
    color: white;
  }

  /* LISTE OF NEWS */

 .liste_news
 {
   background-color: white;
   width: 33%;
   border-radius: 50px;
   -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
   box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
   margin: 25px;
   padding: 25px;
   text-align: center;
 }

 .liste_news .h2_listenews, .p_listenews
 {
   margin: auto;
 }

.h2_listenews a
 {
  text-decoration: none;
 }

  /* COMMENTS */

.comment
{
  width: 90%;
  margin: auto;
  background-color: var(--white-color);
  margin-top: 25px;
  border-radius: 25px;
  padding: 25px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}

.espace_commentaire
{
  margin-top: 50px !important;
  border-top: 1px solid var(--black-color);
  width: 80%;
}

.commentaires
{
  margin: 50px 0;
  border: 1px solid var(--title-color);
  border-radius: 25px;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.1);
}